body{

  background-color: #1F2937;
  overflow: hidden;

}



.hcenterwrap{

  text-align:center;
  

}


.w50{

  width:50%;

}

.w100{

  width:100%;

}

#questmenu {
  margin: 20px auto; 
  width: 500px; 
  height: 200px;
  border: 1px solid lightgray;

  float:left;
}

#miningstatmenu {
  margin: 20px auto; 
  width: 500px; 
  height: 200px;
  border: 1px solid lightgray;

  float:left;
}

#upgrademenu {
  margin: 20px auto; 
  width: 500px; 
  height: 200px;
  border: 1px solid lightgray;

  float:left;
}

#minemenu {
  margin: 20px auto; 
  width: 500px; 
  height: 200px;
  border: 1px solid lightgray;

  margin-left:1rem;
  margin-right:1rem;

  float:left;
}

#oremenu {
  margin: 20px auto; 
  width: 500px; 
  height: 200px;
  border: 1px solid lightgray;

  float:left;

}

#workermenu {
  margin: 20px auto; 
  width: 500px; 
  height: 200px;
  border: 1px solid lightgray;

  float: left;

}


.leaderboard{

  width:50%;

}

#minebackarrow{

  cursor:pointer;
  visibility: hidden;

}

#mineforwardarrow{

  cursor:pointer;
  visibility: hidden;

}

#minetophalf, #minebottomhalf{

height:50%;

}

#minebottomhalf{

  text-align: left;


}





#questlist{

  list-style-type:none;


}

.ore-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size:1.5rem;
  line-height: 0.8;
  margin-top:10px;

}


#questtophalf{

    font-size:1.5rem;
    line-height: 0.8;
    margin-top:10px;

    height:20%;

}

#miningstattophalf{

    font-size:1.5rem;
    line-height: 0.8;
    margin-top:10px;

    height:20%;

}

#upgradetophalf{

    font-size:1.5rem;
    line-height: 0.8;
    margin-top:10px;

    height:20%;

}

#upgradebottomlefthalf{

    text-align: left;
    width:50%;
    float:left;

}

#upgradebottomrighthalf{

    text-align: right;
    width:50%;
    float:left;
}

#workertophalf{

    font-size:1.5rem;
    line-height: 0.8;
    margin-top:10px;

    height:20%;

}

#workerbottomlefthalf{

    text-align: left;
    width:50%;
    float:left;

}

#workerbottomrighthalf{

    text-align: right;
    width:50%;
    float:left;
}

.hide{

  visibility:hidden;

}

#oretophalf{

    font-size:1.5rem;
    line-height: 0.8;
    margin-top:10px;

    height:20%;

}

#orebottomhalf{

    height:75%;

}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

